apiVersion: apps/v1
kind: Deployment
metadata:
  name: steamscraper-backend
  namespace: steamscraper
spec:
  replicas: 2
  selector:
    matchLabels:
      app: steamscraper-backend
  template:
    metadata:
      labels:
        app: steamscraper-backend
    spec:
      containers:
        - name: steamscraper-backend
          image: ghcr.io/tem3lkov/steamscraper-backend:latest
          ports:
            - containerPort: 8000
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 3
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 10
